

.wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    align-items: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sociallinks-wrapper {
    display: flex;
    list-style-type: none;
    gap: 8px;
}